---
import LangList from "@/components/LangList"
import { Separator } from "@/components/ui/separator"
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="bg-[#1a1a1a]">
    <div class="flex">
        <LangList />
        <slot /> 
    </div>
  </body>
</html>